*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
body {
    text-align: center;
    padding: 60px;
    font: 20px Helvetica, sans-serif;
    color: #333
}
h1 {
    font-size: 50px
}
footer {
    position: absolute;
    height: 60px;
    bottom: 0;
    left: 0;
    font-size: 14px;
    width: 100%;
    padding: 10px;
    display: block
}
.container {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    *zoom: 1
}
.container:before,
.container:after {
    content: " ";
    display: table
}
.container:after {
    clear: both
}
.pull-right {
    float: right
}
.text-center {
    text-align: center
}
section {
    display: block;
    text-align: left;
    width: 650px;
    margin: 0 auto
}
a {
    color: #dc8100;
    text-decoration: none
}
a:hover,
a:focus,
a:active {
    color: #333;
    text-decoration: none
}